@import "../base/variables";

.app-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.2rem 0rem;
  h6 {
    font-size: 1.8rem;
  }

  button.solid {
    background: $orange;
    border-color: $orange;
  }
}