@import "../base/variables";

.result-panel.container {
  padding: 1rem 0rem;
  transition: width 10s;
  // border: 1px solid red;

  .column {
    span {
      font-size: 1.5rem;
      letter-spacing: .1rem;
      &:first-child {
        font-weight: 600;
        margin-right: 0.8rem;
        vertical-align: middle;
        &::after {
          content: ":";
          margin-left: 0.2rem;
        }
      }
      &:nth-child(2) {
        color: $pink;
        font-weight: 600;
      }
    }
  }
}
